.header {
    /* position: fixed; */
    display: flex;
    margin-left: 60px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav a {
    font-size: 14px;
    font-weight: 500;
    text-align: end;
    color:BLACK;
    text-decoration: none;  
    padding: 10px 13px;
}

.topnav {
    overflow: hidden;
    padding-top: 27px;
    padding-left: 40px;
}
.topnav a:hover {
    color: red;
    background-color: aliceblue;
}

.topnav a.active {
    color: red;
}

#image {
    height: auto;
    width: auto;
}