.header {
    position: fixed;
    display: flex;
    
}

.topnav a {
    font-size: 15px;
    font-weight: 500;
    text-align: end;
    color:BLACK;
    text-decoration: none;  
    padding: 14px 16px;
}

.topnav {
    padding-top: 25px;
    padding-left: 70px;
}
.topnav a:hover {
    color: red;
    background-color: aliceblue;
}

.topnav a.active {
    color: red;
}

#image {
    height: auto;
    width: auto;
}